/*dark #2f362b*/
/*dark #0e2804*/
/*medium #46633A*/
/*light #769b66*/
/*light #7c9b6f*/

body {
    background-color: #46633A;
}

h4 {color: #fff;}

.well {
    background-color: #46633A;
    border-color: grey;
    border-width: 0px;
}

.lightGreen {
    color: #fff;
    background-color: #769b66;
}


.player {
    color: #fff;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    font-size: 200%;
}

.playlist {
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
}

.connected {
    text-align: right;
    margin-right: 20px;
}

#voMuteHolding {
    display: none;
}

.controlsDiv {
}

#controlsRow {
    margin-top: 10px;
}

.state {
    margin-top: 5px;
    text-align: center;
}

.center {
    text-align: center;
}

#optionsWell {
    display: none;
}

#serverWell {
    display: none;
}

#playlistWell {
    display: none;
}

#radioWell {
    display: none;
}

#searchWell {
    display: none;
}

#searchListItemsAdded {
    display: none;
}


#advancedsearchListItemsAdded {
    display: none;
}

#playlistMessage {
    display: none;
}

#alphabet {
    display: none;
}

#alphabetAnchors {
    display: none;
}

#advancedsearchWell {
    display: none;
}

.btn-letter {
    margin-right: 5px;
}

.btn-anchor {
    margin-top: 2px;
    margin-right: 2px;
}

.searchButtonArtist {
    margin-bottom: 2px;
}

.searchButtonAlbum {
    margin-bottom: 2px;
}

#searchListItems {
    padding-top: 10px;
}

#albumCover {

}

.btn-group-wrap {
    text-align: center;
}

#controlsDiv {
    /*margin-top: 10px;*/
}

.topPad {
    margin-top: 10px;
}

.playerRow {
    margin-bottom: 10px;
}

.playListItem {
    margin-top: 10px;
    color: white;
}

.playListItem {
    /*border-style:solid;*/
    /*border-color: grey;*/
    /*border-width: 1px;*/
    background-color: #769b66;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
}

ul.playlistlist {
    list-style-type: none;
}

.spiner {
    color: white;
}

.searchText{
    color: white;
    font-weight: bold;
}

.playingItem {
    background-color: #2f362b;
}

#playListItems {
    padding-right: 30px;
}

@media (max-width: 980px) {
    .player {
        font-size: 160%;
    }

}

/*Moto g*/
@media (max-width: 700px) {

    body {
        /*background-color: red;*/
    }

    .player {
        font-size: 160%;
    }

    .player {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 130%;
    }

    #albumCover img {
        /*max-width: 150px;*/
    }

    .connected {
        font-size: 50%;
        color: white;
    }

    .mobileText {
        font-size: 80%;
    }

}

/*colours

#####  Color Palette by Color Scheme Designer
#####  Palette URL: http://colorschemedesigner.com/#1431Tl5mRp9k.
#####  Color Space: RGB;


*** Primary Color:

   var. 1 = #B6943E = rgb(182,148,62)
   var. 2 = #927C45 = rgb(146,124,69)
   var. 3 = #84661B = rgb(132,102,27)
   var. 4 = #CEAD5C = rgb(206,173,92)
   var. 5 = #CEB26D = rgb(206,178,109)

*** Secondary Color A:

   var. 1 = #4C337C = rgb(76,51,124)
   var. 2 = #453464 = rgb(69,52,100)
   var. 3 = #2D165A = rgb(45,22,90)
   var. 4 = #7053A6 = rgb(112,83,166)
   var. 5 = #7860A6 = rgb(120,96,166)

*** Secondary Color B:

   var. 1 = #2A5E72 = rgb(42,94,114)
   var. 2 = #2D4F5C = rgb(45,79,92)
   var. 3 = #134153 = rgb(19,65,83)
   var. 4 = #4B88A0 = rgb(75,136,160)
   var. 5 = #588CA0 = rgb(88,140,160)

*/